<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
	function kakaoLogin() {
    console.log("kakao login");
		$.ajax({
			url : '/getKakaoAuthUrl',
			type : 'post',
			async : false,
			dataType : 'text',
			success : function(res) {
				location.href = res;
			}
		});
	}

	$(document).ready(
			function() {

				let kakaoInfo = '${kakaoInfo}';

				if (kakaoInfo != "") {
					let data = JSON.parse(kakaoInfo);

					alert("카카오로그인 성공 \n accessToken : " + data['accessToken']);
					alert("user : \n" + "email : " + data['email']
							+ "\n nickname : " + data['nickname']);
				}
			});



</script>
<body>
<form action="loginCheck" method="post">
    <table border="1px" align="center">
        <tr>
            <th>아이디</th>
            <td><input type="text" name="id"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td><input type="password" name="pw"></td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="login">&ensp;
                <input type="reset" value="cancel">&ensp;
                <a href="/userInput">회원가입</a>
            </td>
        </tr>
    </table>
    <ul>
        <li onclick="kakaoLogin();">
            <a href="javascript:void(0)"><img src="/image/kakao_login_small.png"></a>
        </li>
    </ul>
</form>
</body>
</html>